
.lab{
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 8px;
}

.a{
   margin-top: 20px;
   margin-bottom: 5px;
   margin-left: 8px; 
}
.variable{
    margin-left: 10px;
}

h1{
    text-align: center;
}
body{
    background-color: #f7f7f7
;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container{
    background-color: #f2f2f2;
    max-width: 450px;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.container:hover{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    scale: 1.02;
    transition: all 0.3s ease-in-out;
}
#showPassword{
    height: 35px;
    width: 55%;
    border: 8px;
    border: none;
    background-color: #ffffff;
    font-size: 1.1rem;
    text-align: center;
}

button{
   height: 35px;
   width: 35%;
   background-color: #4CAF50;
   border: none;
   border-radius: 7px;
   color: #e1e2e2;
   font-size: 0.9rem;
   font-weight: 500;
   float: right;
   margin-right: 20px;
}

button:hover{
    background-color: #3e8e41;
    scale: 1.05;
}